@use "variables";

//* Layout
.site__wrapper {
    max-width: 80rem;
    margin-inline: auto;

    @media (min-width: variables.$breakpoint-xsm) {
        padding-inline: 1rem;
    }
}
.site__main {
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(
            #1d1d1d 25%,
            #1a1a1a 25%,
            #1a1a1a 50%,
            transparent 50%,
            transparent 75%,
            #242424 75%,
            #242424
        );
    background-color: #131313;
    background-size: 20px 20px;
}
.site__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-md);
    grid-template-areas:
        "title"
        "hero"
        "sidebar"
        "pimp"
        "extreme";
    @media (min-width: variables.$breakpoint-md) {
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: repeat(auto);
        grid-template-areas:
            "title title"
            "hero sidebar"
            "pimp pimp"
            "extreme extreme";

        @media (min-width: variables.$breakpoint-lg) {
            grid-template-columns: 1fr 0.3fr;
        }
    }
}

//* Section styling
.section {
    padding: 1rem;
    background: var(--clr-grey);
}
.section__heading span {
    color: var(--clr-black);
    font-size: 1rem;
}
.section__heading {
    padding: 1.5rem;
}

//* Banner
.banner {
    overflow: hidden;
}
.banner__content {
    display: flex;
    background-color: var(--clr-blue);
    align-items: center;
    justify-content: space-around;
    margin-left: -100vw;
}
.banner__item {
    position: relative;
    animation: banner 20s linear infinite;
}
@keyframes banner {
    from {
        left: 0;
    }
    to {
        left: 100vw;
    }
}

//* Header
.site-header {
    width: 100%;
    z-index: 100;
    position: sticky;
    top: 0;
    padding: 2rem 0;
    background: var(--clr-blue);
}
.site-header__nav {
    display: flex;
    justify-content: end;
}
.site-header__menu {
    display: none;
    gap: var(--gap-md);

    &--visable {
        @media (min-width: variables.$breakpoint-md) {
            display: flex;
        }
    }
}
.site-header__item {
    :hover {
        box-shadow: var(--box-shadow-pink);
    }
}
.site-header__link {
    box-shadow: var(--box-shadow-button);
    background: var(--clr-grey);
    padding: 0.8rem;
}
.site-header__pop-up-text {
    margin: 0 auto;
    color: var(--clr-pink);

    @media (min-width: variables.$breakpoint-md) {
        display: none;
    }
}

//*Global Navigation styling
.nav__item {
    font-size: var(--fs-md);

    :hover {
        color: var(--clr-white);
        background: var(--clr-blue);
    }
}

//*Hamburger-menu / Accordian
.hamburger {
    background-color: var(--clr-grey);
    top: 28%;
    left: 0;
    position: absolute;
}
.hamburger__image {
    width: 2.5rem;
    padding: 0.5rem;
}
.hamburger__menu {
    :hover {
        background: var(--clr-blue);
    }
}
.hamburger__item {
    padding: 0.3rem;
}

//* Section Quote
.section-quote {
    grid-area: title;
}
.section-quote__text {
    text-align: center;
}

//* Hero
.hero {
    grid-area: hero;
}
.hero__grid {
    padding: 1rem;
    background-image: url(images/backgrounds/glitch.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    gap: var(--gap-md);

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 3rem);
    grid-template-areas:
        "A B C D"
        "E F G H"
        "I J K L";

    @media (min-width: variables.$breakpoint-xsm) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 4rem);
        grid-template-areas:
            "A B C"
            "D E F"
            "G H I"
            "J K L";
    }
    @media (min-width: variables.$breakpoint-sm) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 6rem);
        grid-template-areas:
            "A B C D"
            "E F G H"
            "I J K L";
    }
    @media (min-width: variables.$breakpoint-lg) {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 7rem);
        grid-template-areas:
            "A B C D E"
            "F F G H I"
            "F F J K L";
    }

    .items {
        border-radius: 0.5rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__item1 {
        grid-area: A;
        background-image: url(images/hero-gifs/one.gif);
    }
    &__item2 {
        background-image: url(images/hero-gifs/two.gif);
        grid-area: B;
    }
    &__item3 {
        background-image: url(images/hero-gifs/three.gif);
        grid-area: C;
    }
    &__item4 {
        background-image: url(images/hero-gifs/four.gif);
        grid-area: D;
    }
    &__item5 {
        background-image: url(images/hero-gifs/five.gif);
        grid-area: E;
    }
    &__item6 {
        background-image: url(images/hero-gifs/six.gif);
        grid-area: F;
    }
    &__item7 {
        background-image: url(images/hero-gifs/seven.gif);
        grid-area: G;
    }
    &__item8 {
        background-image: url(images/hero-gifs/eight.gif);
        grid-area: H;
    }
    &__item9 {
        background-image: url(images/hero-gifs/nine.gif);
        grid-area: I;
    }
    &__item10 {
        background-image: url(images/hero-gifs/ten.gif);
        grid-area: J;
    }
    &__item11 {
        background-image: url(images/hero-gifs/eleven.gif);
        grid-area: K;
    }
    &__item12 {
        background-image: url(images/hero-gifs/twelve.gif);
        grid-area: L;
    }
}

//* Sidebar
.sidebar {
    text-align: center;
    grid-area: sidebar;
    padding: 0.5rem;
}
.sidebar__heading,
.sidebar__link {
    font-family: var(--ff-windows95);
    color: var(--clr-pink);
}
.sidebar__heading {
    font-size: 2rem;
}
.sidebar__heading,
.sidebar__item {
    @media (min-width: variables.$breakpoint-md) {
        text-align: start;
    }
}
.sidebar__item {
    :hover {
        background: var(--clr-green);
    }
}
.sidebar__link {
    text-decoration: underline;
    font-size: 0.75rem;
}

// *Articles
.article--pimp-my-ride {
    grid-area: pimp;
}
.article--extreme-home-makeover {
    grid-area: extreme;
}

// *Article styling
.article {
    border-top: 1rem solid var(--clr-blue);
    padding-inline: 1rem;

    @media (min-width: variables.$breakpoint-xsm) {
        padding-inline: 2rem;
    }
    @media (min-width: variables.$breakpoint-sm) {
        padding-inline: 4rem;
    }

    h3 {
        padding: 1rem 0 0.2rem 0;
    }
}
.article__wrapper {
    text-align: center;

    @media (min-width: variables.$breakpoint-md) {
        text-align: start;
    }
    @media (min-width: variables.$breakpoint-lg) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}
.article__image {
    scroll-snap-align: start;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    width: auto;
    height: auto;

    @media (min-width: variables.$breakpoint-md) {
        padding: 0.5rem;
        width: 30%;
    }
}
.article__image--right {
    @media (min-width: variables.$breakpoint-md) {
        float: right;
    }
}
.article__image--left {
    @media (min-width: variables.$breakpoint-md) {
        float: left;
    }
}
.article__carousel {
    display: flex;
    overflow: scroll;
    gap: var(--gap-md);
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &__image {
        aspect-ratio: 16 / 9;
        height: auto;
        width: 90%;
        @media (min-width: variables.$breakpoint-md) {
            max-width: 50%;
        }
    }
}

//* Footer
.site__footer {
    display: flex;
    gap: var(--gap-md);
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    background: var(--clr-grey);

    &__logo {
        width: 30px;
        border-radius: 100%;
    }
}
