// TEXT
.text--center {
    text-align: center;
}

// FLEX-BOX
.flex {
    display: flex;
}
.flex--center {
    align-items: center;
    justify-content: center;
}

// BUTTON-SHADOWS
.stripe--shadow {
    box-shadow: var(--box-shadow-button);
}
